@page "/country/{code}"
@using IncludingTip.Services
@using Markdig
@inject CountriesService CountryService
@inject NavigationManager Navigation
@rendermode InteractiveServer
@attribute [StreamRendering]
<PageTitle>Detail země:
    @if (Country is not null)
    {
        @Country.IsoCountry.ShortName
    }
</PageTitle>

<div class="breadcrumbs text-sm">
    <ul>
        <li><a href="/country">Země</a></li>
    </ul>
</div>


@if (Country is not null)
{
    <h1 class="font-bold text-center text-4xl p-2">@Country?.IsoCountry.ShortName (🇨🇿: @CountryService.GetCzechCountry(Country?.IsoCountry).Name)</h1>
}

<div>
    @if (Country?.DbCountry is null && !loading)
    {
        <div class="alert alert-info my-3">
            <i class="ti ti-info-circle text-lg"></i>
            <span>O spropitném v této zemi zatím nemáme žádné informace. <a href="/country/@Code/contribute"
                                                                            class="link">Přidat</a></span>
        </div>
    }

    @foreach (var Error in Errors)
    {
        <div class="alert alert-error my-3">
            <i class="ti ti-alert-octagon text-lg"></i>
            <span>@Error</span>
        </div>
    }

    @if (Country?.DbCountry is null && loading)
    {
        <Loader/>
    }

    @if (Country?.DbCountry is not null)
    {
        <div class="grid grid-cols-3 gap-3">
            @if (Stats is not null)
            {
                <div class="col-span-3 stats stats-shadow py-2">
                    <div class="stat">
                        <div class="stat-title">Průměrné spropitné</div>
                        <div class="stat-value">@Stats.AvgTip%</div>
                        <div class="stat-desc">Průměr průměrů</div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Počet podniků</div>
                        <div class="stat-value">@Stats.Places</div>
                        <div class="stat-actions">
                            <a href="/country/@Code/places" class="link">Seznam</a>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="stat-title">Celkem hodnocení</div>
                        <div class="stat-value">@Stats.Reviews</div>
                    </div>
                </div>
            }
            <div class=" col-span-2 text-justify mx-auto">
                <h2 class="font-bold text-center text-3xl py-3">Spropitné v zemi</h2>
                <div class="prose max-w-[75ch] text-justify">
                    @((MarkupString)Markdown.ToHtml(Country.DbCountry.TipPolicy ?? "Informace nenalezeny."))
                </div>
                <div class="w-full">
                    <a href="/country/@Code/contribute" class="link text-grey ml-auto">
                        <i class="ti ti-pencil"></i>&nbsp;Upravit
                    </a>
                </div>
                <h2 class="font-bold text-center text-3xl py-3">Shrnutí zkušeností</h2>
                <div class="prose max-w-[75ch] text-justify mb-0">
                    @if (loading)
                    {
                        <Loader/>
                    }
                    else if (AISummary is not null)
                    {
                        @((MarkupString)Markdown.ToHtml(AISummary))
                        <AiDisclaimer/>
                    }
                </div>
            </div>
            <div>
                <CountryOnAMap DisplayName="@Country.IsoCountry.ShortName" Latitude="@CountryLat"
                               Longitude="@CountryLon"/>
            </div>
        </div>
    }
</div>

@code {
    [Parameter] public string Code { get; set; }
    private bool loading = true;
    private double CountryLat;
    private double CountryLon;
    private List<string> Errors { get; set; } = new();
    private string? AISummary = null;

    private CountriesService.CountryContext? Country;
    private CountriesService.CountryStats? Stats;


    private async Task LoadCountryAsync()
    {
        Country = await CountryService.QueryCountry(Code);

        if (Country is null)
        {
            Navigation.NavigateTo("/Error");
            return;
        }

        if (Country.DbCountry is not null)
        {
            try
            {
                var (lat, lon) = await CountryService.GetExpandedCountryData(Country.IsoCountry);

                CountryLat = lat;
                CountryLon = lon;


                Stats = CountryService.GetCountryStats(Country.DbCountry);
            }
            catch (Exception e)
            {
                Errors.Add(e.Message);
            }
        }

        loading = false;
    }

    private async Task LoadCountryAiSummary()
    {
        if (Country?.DbCountry is null) return;
        loading = true;
        AISummary = await CountryService.GetRecentAISummary(Country.DbCountry);
        loading = false;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadCountryAsync();
        StateHasChanged();
        if (Country is not null)
        {
            try
            {
                await LoadCountryAiSummary();
            }
            catch (Exception e)
            {
                Errors.Add($"Chyba při získávání AI souhrnu: {e.Message}");
                AISummary = "Vyskytla se chyba :(";
                loading = false;
            }
        }
    }

}